.profile__avatar-edit-button {
    background-image: url(../../../images/profile-avatar-edit-button.svg);
    background-color: transparent;
    border: none;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 47px;
    left: 47px;
    z-index: 1;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out 0.3s;
}

@media screen and (max-width: 1024px) {
    .profile__avatar-edit-button {
        width: 20px;
        height: 20px;
    }
}


