.login__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    margin: 15px 0 0;
    cursor: pointer;
}

.login__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .login__link {
        margin: 20px 0 0;
    }
}