.header__login {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .header__login {
        font-size: 14px;
        line-height: 17px;
        margin-right: 30px;
    }
}