.elements__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px 17px;
}

@media screen and (max-width: 1024px) {
    .elements__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .elements__items {
        grid-template-columns: 1fr;
    }
}