.menu {
    display: none;
    position: absolute;
    top: 35px;
    right: 30px;
    width: 24px;
    height: 18px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .menu {
        display: block;
    }
}